<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li ui-sref-active="active"><a href ui-sref="default">Home</a></li>
      <li ui-sref-active="active"><a href ui-sref="profile" ng-if="auth.isLoggedIn()">Profile</a></li>
    </ul>
    <a href ui-sref="login" class="btn btn-default navbar-btn pull-right" ng-if="!auth.isLoggedIn()">Sign in</a>
    <a href ng-click="auth.logOut()" class="btn btn-default navbar-btn pull-right" ng-if="auth.isLoggedIn()">Sign out</a>
  </div>
</nav>
