<div ng-class="styles['login-page']">

  <div ng-class="styles['content-wrapper']">
    <form>
      <div ng-class="styles['login-form']">
        <div ng-class="styles.header">
          <div ng-class="styles.banner"><img src="http://placehold.it/265x80&text=Logo%20or%20banner">
          </div>
        </div>
        <div ng-class="styles.info">
          <p>Sign in form</p>
        </div>
        <div ng-class="styles['user-name']">
          <p>Username</p>
        </div>
        <div ng-class="styles['user-name-input']"><i class="fa fa-envelope"></i>
          <input type="email" ng-model="model.email">
        </div>
        <div ng-class="styles.password">
          <p>Password</p>
        </div>
        <div ng-class="styles['password-input']"><i class="fa fa-lock"></i>
          <input type="password" ng-model="model.password">
        </div>
        <div ng-class="styles['sign-in']"><input type="submit" ng-click="signIn()" value="Sign in"><a ng-show="showError">Authentification error</a>
        </div>
        <div ng-class="styles.footer"></div>
      </div>
    </form>

    <div ng-class="styles['additional-info']">
      <div ng-class="styles.logo"><img src="http://placehold.it/265x80&text=Logo%20picture" alt="Logo">
      </div>
      <div ng-class="styles.header">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, quod?
        </p>
      </div>
      <div ng-class="styles.text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque illo rem et laboriosam distinctio doloribus
          veritatis repellat, quaerat officiis, amet praesentium obcaecati, quia modi numquam eum consequuntur tempore
          libero voluptates cupiditate perspiciatis harum accusamus minus? Numquam repellat molestiae impedit,
          officia.</p>
      </div>
    </div>
  </div>
</div>
