<div class="modal-header">
    <div class="main-header">
        <h3 class="modal-title">Edit emploee</h3>
    </div>
    <div class="close-button" ><i class="fa fa-times" ng-click="cancel()" title="close without saving"></i>
    </div>
</div>
<div class="modal-body">
    You are going to edit user with id {{user.$id}}
    <div><label for="">Name <input type="text" ng-model="user.name"></label></div>
    <div><label for="">job <input type="text" ng-model="details.job"></label></div>
    <div><label for="">department <input type="text" ng-model="details.department"></label></div>
    <div><small class="error" ng-show="showError">You should fill all fields</small></div>
</div>
<div class="modal-footer">
    <input type="button" value="ok" ng-click="ok()">
</div>
