*
  box-sizing border-box
.browsehappy 
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

.login-page
  display block
  height 100vh
  width 100%
  background-image radial-gradient(ellipse, #4d95c4 0%, #226a99 100%)
  position absolute
  top: 0
  left: 0
  overflow auto
  white-space nowrap
  text-align center
  font-size 0
  &:before 
    height 100%
    display inline-block
    vertical-align middle
    content ''

.content-wrapper
  display inline-block
  white-space normal
  vertical-align middle
  text-align left
  font-size 13px
  position relative
  @media screen and (min-width:713px){
    width 710px
  }
  .additional-info
    @media screen and (max-width:360px) and (min-width:321px){
      float none
      margin-right auto
      margin-left auto
      display block
    }
    @media screen and (max-width:480px) and (orientation : landscape){
      float none
      margin-right auto
      margin-left auto
      display block
    }
    @media screen and (max-width:640px) and (orientation : landscape){
      float none
      margin-right auto
      margin-left auto
      display block
    }
    @media screen and (max-width:712px) and (min-width:360px){
      float none
      margin-right auto
      margin-left auto
      display block
    }
    @media screen and (min-width:713px){
      width 320px
      float right
      margin-top 140px
    }
    .logo>img
      display block
      margin-left auto
      margin-right auto
      margin-bottom 15px
    .header
      color #fff
      text-transform uppercase
      margin-left auto
      margin-right auto
      width 200px
      text-align center
      margin-bottom 25px
    .text>p
      width 320px
      color #b4cde3
      display block
      text-align center
      margin-left auto
      margin-right auto
      line-height 1.7
    &:before 
      height 100%
      display inline-block
      vertical-align middle
      content ''
  .login-form
    @media screen and (max-width:360px) and (min-width:321px){
      width 320px
    }
    @media screen and (min-width:713px){
      width 365px
      height 625px
      float left
    }
    .header
      height 95px
      border-top-left-radius 30px
      border-top-right-radius 30px
      padding-top 7px
      background-color #2b3d4f
      .banner
        width 265px
        height 80px
        margin-right auto
        margin-left auto
    .info
      height 70px
      background-color #fff
      border-bottom 2px solid #ebedef
      &>p
        color #7f8e9e
        line-height 68px
        text-align center
        font-size 25px
        text-shadow 0px 0 0px #000
        margin 0
    .user-name
      height 55px
      background-color #f5f7f9
      border-bottom 2px solid #ebedef
      padding-left 25px
      line-height 55px
      &>p
        color #2b3d4f
        font-size 20px
        margin 0
    .user-name-input
      height 70px
      background-color #fff
      border-bottom 2px solid #ebedef
      position relative
      &>i
        position absolute
        color #5fade3
        left 25px
        top 23px
        font-size 20px
      & input
        width 100%
        height 100%
        padding-left 50px
        padding-right 10px
        border none
        
    .password
      height 55px
      background-color #f5f7f9
      border-bottom 2px solid #ebedef
      padding-left 25px
      line-height 55px
      &>p
        margin 0
        color #2b3d4f
        font-size 20px
    .password-input
      height 70px
      background-color #fff
      border-bottom 2px solid #ebedef
      position relative
      &>i
        position absolute
        color #c7c7cf
        left 28px
        top 24px
        font-size 25px
      & input
        width 100%
        height 100%
        padding-left 50px
        padding-right 10px
        border none
    .remember-me
      height 85px
      background-color #f5f7f9
      line-height 85px
      padding-left 120px
      position relative
      &>div
        position absolute
        height 37px
        width 70px
        left 40px
        top 25px
        &>.switcher-bottom
          background-image url(/assets/images/bottom.png)
          background-repeat no-repeat
          width 100%
          height 100%
          position relative
          &>.switcher
            background-image url(/assets/images/switcher.png)
            width 29px
            height 29px
            position absolute
            top 4px
            transition left .5s ease-in-out
            &.left
              left 3px
            &.right
              left 35px
      & p
        color #2b3d4f
        font-size 20px
        margin 0
    .sign-in
      height 85px
      background-color #f5f7f9
      padding-top 10px
      text-align center
      &>a:first-child
        display block
        margin-right auto
        margin-left auto
        border-radius 10px
        background-color #5fade3
        color #fff
        height 46px
        width 305px
        text-align center
        line-height 46px
        font-size 18px
        text-decoration none
        &:hover
          text-decoration none
          box-shadow inset 0 10px 10px 0 rgba(0,0,0,.1), inset 0 -10px 10px 0 rgba(0,0,0,.1)
        &:active
          box-shadow inset 0 30px 10px 0 rgba(0,0,0,.1), inset 0 -30px 10px 0 rgba(0,0,0,.1)
      &>a
        display block
        color red
        margin-right auto
        margin-left auto
        margin-top 10px
    .footer
      height 40px
      border-bottom-right-radius 30px
      border-bottom-left-radius 30px
      background-color #f5f7f9
